@font-face {
  font-family: "ARCO";
  src: url("../font/ARCO.woff") format("woff");
}
@font-face {
  font-family: "SuperBoy";
  src: url("../font/Super-Boys.woff") format("woff");
}
@font-face {
  font-family: "LouisBold";
  src: url("../font/Louis-George-Cafe-Bold.woff") format("woff");
}
.Paralax {
  padding-top: -2%;
  /* overflow: hidden; */
  height: 100vh;
  flex-wrap: nowrap;
  background-color: #47eada;
}
.star {
  position: absolute;
  top: 5%;
  left: 0%;
  width: 80%;
}
.cloud-top {
  position: absolute;
  right: 0%;
  top: 5%;
  width: 85vw;
}
.headline {
  position: absolute;
  left: -15vw;
  bottom: 10vw;
  width: 80vw;
}
.button-1 {
  position: absolute;
  width: 15vw;
  bottom: 22vh;
  left: 20vw;
}
.button-1:hover {
  cursor: pointer;
  background-image: url("svg/landing/Button-2.svg");
}
.flying {
  position: absolute;
  width: 80vw;
  right: 3vh;
  bottom: 3vh;
  animation: naikTurun 2s linear infinite;
}
.cloud-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80vw;
}
.star-hp {
  display: none;
}
.cloud-hp {
  display: none;
}
@keyframes naikTurun {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Atur seberapa jauh naik */
  }
  100% {
    transform: translateY(0);
  }
}

.pendaftaran-full {
  height: 100vh;
  position: relative;
  background-color: #63abb0;
}
.pendaftaran {
  padding-top: 5%;
  position: relative;
}
.pendaftaran a {
  display: flex;
  justify-content: center;
  font-size: 5vh;
  padding-bottom: 3vh;
  font-family: "ARCO";
  color: #f0e1c1 !important;
}
.star-daftar {
  position: absolute;
  top: 0;
}
.flying-daftar {
  position: absolute;
  top: 0;
  width: 80vw;
  left: 5vw;
  animation: naikTurun 2s linear infinite;
}
.text-daftar {
  position: absolute;
  top: 0;
}
.button-daftar {
  position: absolute;
  top: 50vh;
  width: 20vw;
  right: 27vw;
}
.button-guidebook {
  position: absolute;
  top: 50vh;
  right: 12vw;
  width: 20vw;
}
.cloud-bottom-daftar {
  position: absolute;
  bottom: 0;
}
.contact {
  padding-top: 3vh;
  background-color: #808080;
  padding-bottom: 3vh;
  display: block;
}
.contact-head {
  display: flex;
  position: relative;
  justify-content: space-around;
  font-size: 40px;
  font-family: "ARCO";
  color: #474953;
}

#contact-logo-1 {
  position: absolute;
  width: 5%;
}

.footer {
  background-color: #282b2a;
  padding-top: 30px;
  padding: 30px;
}

/* footer */
@import url("https://fonts.googleapis.footer__menu/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! Footer */

.main__footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #2d313f;
}

.main__footer ul {
  list-style: none;
}

.main__footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main__footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main__footer ul li a {
  color: #ffffffcc;
  text-decoration: none;
}
.main__footer ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: #2d313f;
  border-top: 1px solid #585f7c;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}
footer a:hover {
  text-decoration: underline;
}
.contact__footer {
  margin-top: 20px;
}

.contact__footer li {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px 0;
}

.contact__footer li a {
  text-decoration: none;
  color: #f1f1f1;
}
.contact__footer li a:hover {
  text-decoration: underline;
}
.contact__footer .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.footer-social {
  padding: 20px 0;
}
.footer__social-box {
  display: flex;
  justify-content: center;
}
.footer-social .footer__social-box a {
  padding: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}

.footer__menu ul li {
  padding: 5px 0;
  display: flex;
  justify-content: center;
}

/* Tablet  */
@media (max-width: 1024px) {
  .Paralax {
    overflow: hidden !important;
  }
  .star {
    position: absolute;
    top: 3vh;
    /* width: 130vw; */
    overflow: hidden;
  }
  .cloud-top {
    position: absolute;
    top: 3vh;
    /* width: 130vw; */
    overflow: hidden;
  }
  .headline {
    position: absolute;
    /* width: 130vw; */
    top: 8vh;
    overflow: hidden;
  }
  .button-1 {
    position: absolute;
    /* width: 30vw; */
    overflow: hidden;
    top: 50vh;
  }
  .flying {
    position: absolute;
    /* width: 110vw; */
    bottom: 5vh;
    overflow: hidden;
  }
  .cloud-bottom {
    position: absolute;
    /* width: 100vw; */
    overflow: hidden;
  }

  /*pendaftaran */
  /* .pendaftaran {
    position: relative;
  } */
  .pendaftaran a {
    position: absolute;
    top: 10vh;
    /* width: 5vw; */
    /* display: flex; */
    left: 15vw;
    justify-content: center;
    /* overflow: hidden; */
  }
  .flying-daftar {
    position: absolute;

    bottom: 0vh;
  }
}

/* Smartphone/Mobile */
@media (max-width: 500px) {
}
